@charset "utf-8";
	.st0
{
	background : #6BBAA7;
	background : rgba(107, 186, 167, 1);
	width : 453px;
	height : 9px;
	border-radius : 5px;
	-moz-border-radius : 5px;
	-webkit-border-radius : 5px;
}
.st1
{
	background : #6C648B;
	background : rgba(108, 100, 139, 1);
	opacity : 0.8;
	width : 436px;
	height : 151px;
	border-radius : 38px;
	-moz-border-radius : 38px;
	-webkit-border-radius : 38px;
	filter: alpha(opacity=80) progid:DXImageTransform.Microsoft.Alpha(opacity=80) ;
}
.st2
{
	background : #6BBAA7;
	background : rgba(107, 186, 167, 1);
	width : 453px;
	height : 9px;
	border-radius : 5px;
	-moz-border-radius : 5px;
	-webkit-border-radius : 5px;
}
.st3
{
	background : #6C648B;
	background : rgba(108, 100, 139, 1);
	opacity : 0.8;
	width : 436px;
	height : 151px;
	border-radius : 38px;
	-moz-border-radius : 38px;
	-webkit-border-radius : 38px;
	filter: alpha(opacity=80) progid:DXImageTransform.Microsoft.Alpha(opacity=80) ;
}
.st4
{
	background : #6BBAA7;
	background : rgba(107, 186, 167, 1);
	width : 8px;
	height : 102px;
	border-radius : 4px;
	-moz-border-radius : 4px;
	-webkit-border-radius : 4px;
}
.st5
{
	background : #6BBAA7;
	background : rgba(107, 186, 167, 1);
	opacity : 0.77;
	width : 1486px;
	height : 181px;
	border-radius : 12px;
	-moz-border-radius : 12px;
	-webkit-border-radius : 12px;
	filter: alpha(opacity=77) progid:DXImageTransform.Microsoft.Alpha(opacity=77) ;
}
.st6
{
	background : #6BBAA7;
	background : rgba(107, 186, 167, 1);
	width : 8px;
	height : 102px;
	border-radius : 4px;
	-moz-border-radius : 4px;
	-webkit-border-radius : 4px;
}
.st7
{
	background : #6C648B;
	background : rgba(108, 100, 139, 1);
	opacity : 0.8;
	width : 436px;
	height : 148px;
	border-radius : 38px;
	-moz-border-radius : 38px;
	-webkit-border-radius : 38px;
	filter: alpha(opacity=80) progid:DXImageTransform.Microsoft.Alpha(opacity=80) ;
}
.NormalCharacterStyle4
{
	font-family : Dopestyle ;
	font-size : 143px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle3
{
	font-family : Arial;
	font-size : 32px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle2
{
	font-family : Arial;
	font-size : 32px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle1
{
	font-family : Arial;
	font-size : 32px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle
{
	font-family : Code Light;
	font-size : 82px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
